In [1]:
import pandas as pd

In [40]:
pd.set_option('display.max_rows', 100)

In [18]:
df = pd.read_csv('cereal.csv', index_col=0)

In [19]:
df = df.loc[:,['mfr','sugars']]

In [20]:
df.groupby('mfr').get_group('K')

                          mfr  sugars
name
All-Bran                    K       5
All-Bran with Extra Fiber   K       0
Apple Jacks                 K      14
Corn Flakes                 K       2
...                        ..     ...
Raisin Squares              K       6
Rice Krispies               K       3
Smacks                      K      15
Special K                   K       3

[23 rows x 2 columns]

In [26]:
candy = pd.read_csv('../../../../data/candybars.csv', index_col=0)
candy

,weight,chocolate,peanuts,caramel,nougat,cookie_wafer_rice,coconut,white_chocolate,multi,available_canada_america
name,,,,,,,,,,
Coffee Crisp,50,1,0,0,0,1,0,0,0,Canada
Butterfinger,184,1,1,1,0,0,0,0,0,America
Skor,39,1,0,1,0,0,0,0,0,Both
Smarties,45,1,0,0,0,0,0,0,1,Canada
...,...,...,...,...,...,...,...,...,...,...
Whatchamacallits,45,1,1,0,0,1,0,0,0,America
Almond Joy,46,1,0,0,0,0,1,0,0,America
Oh Henry,51,1,1,1,0,0,0,0,0,Both
Cookies and Cream,43,0,0,0,0,1,0,1,0,Both

In [30]:
candy2 = pd.read_csv('../../../../data/candybars2.csv', index_col=0)
candy2_sorted= candy2.sort_values('calories')
candy2_sorted

                 calories   fat  sugar
name
Kinder Surprise       112   7.0    8.0
100 Grand             190   8.0   22.0
Take 5                200  11.0   18.0
Skor                  209  12.0   23.0
...                   ...   ...    ...
Oh Henry              263  13.0   26.0
Babe Ruth             275  13.0   32.0
Wonderbar             310  18.0   19.0
Butterfinger          798  30.0   72.0

[25 rows x 3 columns]

In [42]:
pd.concat([candy, candy2_sorted], axis=0).head(20)

,weight,chocolate,peanuts,caramel,nougat,cookie_wafer_rice,coconut,white_chocolate,multi,available_canada_america,calories,fat,sugar
name,,,,,,,,,,,,,
Coffee Crisp,50.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Canada,NaN,NaN,NaN
Butterfinger,184.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,America,NaN,NaN,NaN
Skor,39.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Both,NaN,NaN,NaN
Smarties,45.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Canada,NaN,NaN,NaN
Twix,58.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,Both,NaN,NaN,NaN
Reeses Peanutbutter Cups,43.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,Both,NaN,NaN,NaN
3 Musketeers,54.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,America,NaN,NaN,NaN
Kinder Surprise,20.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Canada,NaN,NaN,NaN
M & M,48.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,Both,NaN,NaN,NaN
Glosettes,50.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Canada,NaN,NaN,NaN
KitKat,45.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Both,NaN,NaN,NaN
Babe Ruth,60.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,America,NaN,NaN,NaN
Caramilk,52.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Canada,NaN,NaN,NaN
Aero,42.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Canada,NaN,NaN,NaN
Mars,51.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Both,NaN,NaN,NaN
Payday,52.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,America,NaN,NaN,NaN
Snickers,48.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,Both,NaN,NaN,NaN
Crunchie,26.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Canada,NaN,NaN,NaN
Wonderbar,58.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,Canada,NaN,NaN,NaN
100 Grand,43.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,America,NaN,NaN,NaN

In [62]:
df = pd.read_csv('cereal.csv')

In [48]:
# Read in the dataset 
hockey_players = pd.read_csv('../../../../data/canucks.csv')


# Display the dataframe
hockey_players.head()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
0,Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0
1,Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0
2,Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0
3,Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
4,Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0

In [49]:
list(hockey_players.columns)

['Player',
 'No.',
 'Age',
 'Height',
 'Weight',
 'Country',
 'Position',
 'Experience',
 'Birth Date',
 'Salary']

In [50]:
columns_hockey = hockey_players.columns

In [51]:
list(columns_hockey)

['Player',
 'No.',
 'Age',
 'Height',
 'Weight',
 'Country',
 'Position',
 'Experience',
 'Birth Date',
 'Salary']

In [52]:
hockey_shape = hockey_players.shape

In [53]:
hockey_shape

(22, 10)

In [64]:
hockey_players

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
0,Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0
1,Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0
2,Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0
3,Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
4,Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0
5,Alexander Edler,23,33,191,212,Swedan,Defense,13,21-Apr-86,7000000.0
6,Loui Eriksson,21,34,188,179,Swedan,Forward,13,17-Jul-85,5000000.0
7,Adam Gaudette,88,23,185,184,United States,Forward,2,03-Oct-96,925000.0
8,Bo Horvat (C),53,24,183,215,Canada,Forward,5,05-Apr-95,5775000.0
9,Quinn Hughes,43,20,178,175,United States,Defense,1,14-Oct-99,NaN
10,Zack MacEwen,71,23,191,205,Canada,Forward,1,08-Jul-96,925000.0
11,Jacob Markstrom,25,30,198,206,Swedan,Goalie,9,31-Jan-90,4000000.0
12,J.T. Miller,9,26,185,218,United States,Forward,7,14-Mar-93,6000000.0
13,Tyler Myers,57,29,203,229,United States,Defense,10,01-Feb-90,7000000.0
14,Tanner Pearson,70,27,185,201,Canada,Forward,6,10-Aug-92,3850000.0
15,Elias Pettersson,40,21,188,176,Swedan,Forward,1,12-Nov-98,925000.0
16,Antoine Roussel,26,30,180,199,France,Forward,7,21-Nov-89,3800000.0
17,Tim Schaller,59,29,188,204,United States,Forward,5,16-Nov-90,1900000.0
18,Troy Stecher,51,25,178,186,Canada,Defense,3,07-Apr-94,2325000.0
19,Brandon Sutter,20,30,191,190,United States,Forward,11,14-Feb-89,4500000.0
20,Christopher Tanev,8,30,188,197,Canada,Defense,9,20-Dec-89,NaN
21,Jake Virtanen,18,23,185,226,Canada,Forward,4,17-Aug-96,1500000.0

In [61]:
df[['calories','fiber']]

    calories  fiber
0         70   10.0
1        120    2.0
2         70    9.0
3         50   14.0
4        110    1.0
5        110    1.5
6        110    1.0
7        130    2.0
8         90    4.0
9         90    5.0
10       120    0.0
11       110    2.0
12       120    0.0
13       110    2.0
14       110    0.0
15       110    0.0
16       100    1.0
17       110    1.0
18       110    0.0
19       110    4.0
20       100    1.0
21       110    1.0
22       100    2.0
23       100    1.0
24       110    1.0
25       110    1.0
26       100    3.0
27       120    5.0
28       120    5.0
29       110    0.0
30       100    0.0
31       110    0.0
32       100    3.0
33       110    3.0
34       120    3.0
35       120    1.0
36       110    1.5
37       110    0.0
38       110    1.0
39       140    2.0
40       110    0.0
41       100    2.0
42       110    0.0
43       100    0.0
44       150    3.0
45       150    3.0
46       160    3.0
47       100    2.0
48       120    0.0
49       140    3.0
50        90    3.0
51       130    1.5
52       120    6.0
53       100    1.0
54        50    0.0
55        50    1.0
56       100    2.0
57       100    2.7
58       120    5.0
59       100    2.5
60        90    2.0
61       110    0.0
62       110    0.0
63        80    3.0
64        90    4.0
65        90    3.0
66       110    1.0
67       110    1.0
68        90    3.0
69       110    0.0
70       140    4.0
71       100    3.0
72       110    0.0
73       110    0.0
74       100    3.0
75       100    3.0
76       110    1.0

In [65]:
penalty_players = hockey_players.loc[[10, 21, 2], ['Height', 'Weight', 'Salary', 'Country']]

In [66]:
penalty_players.shape

(3, 4)

In [68]:
penalty_players.columns

Index(['Height', 'Weight', 'Salary', 'Country'], dtype='object')

In [69]:
penalty_players.index

Int64Index([10, 21, 2], dtype='int64')

In [72]:
star_players = hockey_players.loc[7:19, 'Player':'Country']

# Display it

star_players

              Player  No.  Age  Height  Weight        Country
7      Adam Gaudette   88   23     185     184  United States
8      Bo Horvat (C)   53   24     183     215         Canada
9       Quinn Hughes   43   20     178     175  United States
10      Zack MacEwen   71   23     191     205         Canada
11   Jacob Markstrom   25   30     198     206         Swedan
12       J.T. Miller    9   26     185     218  United States
13       Tyler Myers   57   29     203     229  United States
14    Tanner Pearson   70   27     185     201         Canada
15  Elias Pettersson   40   21     188     176         Swedan
16   Antoine Roussel   26   30     180     199         France
17      Tim Schaller   59   29     188     204  United States
18      Troy Stecher   51   25     178     186         Canada
19    Brandon Sutter   20   30     191     190  United States

In [73]:
star_players.shape

(13, 6)

In [74]:
star_players.index

RangeIndex(start=7, stop=20, step=1)

In [75]:
benched_players = hockey_players.loc[3:9]

# Display it

benched_players

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
3,Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
4,Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0
5,Alexander Edler,23,33,191,212,Swedan,Defense,13,21-Apr-86,7000000.0
6,Loui Eriksson,21,34,188,179,Swedan,Forward,13,17-Jul-85,5000000.0
7,Adam Gaudette,88,23,185,184,United States,Forward,2,03-Oct-96,925000.0
8,Bo Horvat (C),53,24,183,215,Canada,Forward,5,05-Apr-95,5775000.0
9,Quinn Hughes,43,20,178,175,United States,Defense,1,14-Oct-99,NaN

In [76]:
benched_players.shape

(7, 10)

In [77]:
rich_players = hockey_players.sort_values(by='Salary', ascending=False)

# Display it

rich_players

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
5,Alexander Edler,23,33,191,212,Swedan,Defense,13,21-Apr-86,7000000.0
13,Tyler Myers,57,29,203,229,United States,Defense,10,01-Feb-90,7000000.0
12,J.T. Miller,9,26,185,218,United States,Forward,7,14-Mar-93,6000000.0
8,Bo Horvat (C),53,24,183,215,Canada,Forward,5,05-Apr-95,5775000.0
6,Loui Eriksson,21,34,188,179,Swedan,Forward,13,17-Jul-85,5000000.0
19,Brandon Sutter,20,30,191,190,United States,Forward,11,14-Feb-89,4500000.0
11,Jacob Markstrom,25,30,198,206,Swedan,Goalie,9,31-Jan-90,4000000.0
14,Tanner Pearson,70,27,185,201,Canada,Forward,6,10-Aug-92,3850000.0
16,Antoine Roussel,26,30,180,199,France,Forward,7,21-Nov-89,3800000.0
1,Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0
2,Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0
18,Troy Stecher,51,25,178,186,Canada,Defense,3,07-Apr-94,2325000.0
17,Tim Schaller,59,29,188,204,United States,Forward,5,16-Nov-90,1900000.0
21,Jake Virtanen,18,23,185,226,Canada,Forward,4,17-Aug-96,1500000.0
15,Elias Pettersson,40,21,188,176,Swedan,Forward,1,12-Nov-98,925000.0
10,Zack MacEwen,71,23,191,205,Canada,Forward,1,08-Jul-96,925000.0
7,Adam Gaudette,88,23,185,184,United States,Forward,2,03-Oct-96,925000.0
4,Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0
3,Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
0,Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0
9,Quinn Hughes,43,20,178,175,United States,Defense,1,14-Oct-99,NaN
20,Christopher Tanev,8,30,188,197,Canada,Defense,9,20-Dec-89,NaN

In [78]:
rich_players.index

Int64Index([5, 13, 12, 8, 6, 19, 11, 14, 16, 1, 2, 18, 17, 21, 15, 10, 7, 4, 3,
            0, 9, 20],
           dtype='int64')